services:
  rotom-ng:
    image: image: ghcr.io/reuschelcgn/rotomng/rotom-ng:v1.0.0alpha1-developmod
    container_name: rotom-ng
    restart: unless-stopped
    volumes:
      - ./RotomNG/configs/rotom-ng.toml:/rotom-ng/configs/rotom-ng.toml
      - ./RotomNG/logs:/rotom-ng/logs
      - ./RotomNG/jobs:/rotom-ng/jobs
    ports:
      - "7070:7070"
      - "7071:7071"
      - "7072:7072"
